/**  clock  **/

.clock {
    margin: 2.125rem auto;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: right;
}

.clock .date {
    margin: 0 auto;
    height: 2.0625rem;
    line-height: 2.0625rem;
    text-align: center;
}

.clock .time {
    margin: 0 auto;
    height: 2.0625rem;
    line-height: 2.0625rem;
    text-align: center;
}

.clock span {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}

.clock .time span {
    font-size: 42px;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding: 0 2px;
}

@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}


/** forget **/
.form {
    padding: 15px;
}

.form li {
    padding: 3px 0;
    margin-bottom: 10px;
    height: 45px;
    line-height: 45px;
}

.form li:last-child {
    border-bottom: none;
}

.form-text {
    background: transparent;
    height: 45px;
    width: 100%;
    line-height: 45px;
    font-size: 0.875rem;
    border-bottom: 1px solid #cccccc !important;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.ipt-verify {
    height: 45px;
    width: 55%;
    line-height: 45px;
    display: inline-block;
    font-size: 0.875rem;
    float: left;
}

.btn {
    -webkit-border-radius: 3x;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}

.btn-verify {
    height: 28px;
    line-height: 24px;
    background: #cb4a46;
    color: #ffffff;
    width: 40%;
    display: inline-block;
    float: right;
}

.btn-bg-color {
    background: #eeeeee;
    color: #000;
}

.clear {
    clear: both;
}

.username {
    font: inherit;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 38px;
    text-shadow: 0 0 5px #00c6ff;
    font-weight: 500;
}

.button.button-positive {
    border-color: #bc4441 !important;
    background-color: #cb4a46 !important;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    border-color: #bc4441 !important;
    background-color: #cb4a46 !important;
}

.input-name {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.input-pwd {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.openDoor {
    animation: circle 1s infinite linear;
    -webkit-animation: circle 1s infinite linear;
    /* Safari 和 Chrome */
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*Safari and Chrome*/

@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
